.intro-grid {
    display: grid;
    margin-bottom: 30px;
    background-color: beige;
    justify-content: center;
    grid-template-columns: 2fr 3fr;
    border: solid 6px black;

}

@media (max-width: 1500px) {
    .intro-grid {
        grid-template-columns: 1fr;
    }
}

img {
    max-width: 100%;
    max-height: 600px;
    border: solid 6px black;
    border-radius: 20px;
    object-fit: contain;
}

.dish-photo {
    text-align: center;
    padding: 30px;
}

.text {
    padding: 30px;
}

.mid-grid {
    display: grid;
    margin-bottom: 30px;
    background-color: beige;
    justify-content: center;
    grid-template-columns: 3fr 5fr;
    border: solid 6px black;
}

@media (max-width: 1200px) {
    .mid-grid {
        grid-template-columns: 1fr;
    }
}

.credits {
    background-color: beige;
    border: solid 6px black;
}

a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background-color: beige;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}